<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Block, Speed, Range</string>
		<key>name</key>
		<string>apprentice</string>
		<key>attack</key>
		<integer>1</integer>
		<key>hitPoints</key>
		<integer>1</integer>
		<key>manaCost</key>
		<integer>1</integer>
		<key>speed</key>
		<true/>
		<key>block</key>
		<true/>
		<key>range</key>
		<true/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string></string>
		<key>name</key>
		<string>chickenbot</string>
		<key>attack</key>
		<integer>2</integer>
		<key>hitPoints</key>
		<integer>2</integer>
		<key>manaCost</key>
		<integer>1</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Speed</string>
		<key>name</key>
		<string>elvisbot</string>
		<key>attack</key>
		<integer>2</integer>
		<key>hitPoints</key>
		<integer>6</integer>
		<key>manaCost</key>
		<integer>4</integer>
		<key>speed</key>
		<true/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>When Froggy is played, no attacks can be made until the start of your next turn.</string>
		<key>name</key>
		<string>Froggy</string>
		<key>attack</key>
		<integer>1</integer>
		<key>hitPoints</key>
		<integer>1</integer>
		<key>manaCost</key>
		<integer>1</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Speed</string>
		<key>name</key>
		<string>lavaling</string>
		<key>attack</key>
		<integer>3</integer>
		<key>hitPoints</key>
		<integer>1</integer>
		<key>manaCost</key>
		<integer>2</integer>
		<key>speed</key>
		<true/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string></string>
		<key>name</key>
		<string>loggoraptor</string>
		<key>attack</key>
		<integer>2</integer>
		<key>hitPoints</key>
		<integer>4</integer>
		<key>manaCost</key>
		<integer>2</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Block, Range</string>
		<key>name</key>
		<string>mothership</string>
		<key>attack</key>
		<integer>6</integer>
		<key>hitPoints</key>
		<integer>15</integer>
		<key>manaCost</key>
		<integer>8</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<true/>
		<key>range</key>
		<true/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Whenever a card you own is destroyed, return it to your hand.</string>
		<key>name</key>
		<string>necromancer</string>
		<key>attack</key>
		<integer>1</integer>
		<key>hitPoints</key>
		<integer>3</integer>
		<key>manaCost</key>
		<integer>5</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Your two adjacent creatures get +2/+1.</string>
		<key>name</key>
		<string>overlord</string>
		<key>attack</key>
		<integer>2</integer>
		<key>hitPoints</key>
		<integer>4</integer>
		<key>manaCost</key>
		<integer>6</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Range</string>
		<key>name</key>
		<string>ranger</string>
		<key>attack</key>
		<integer>4</integer>
		<key>hitPoints</key>
		<integer>1</integer>
		<key>manaCost</key>
		<integer>2</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<true/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string></string>
		<key>name</key>
		<string>robowolf</string>
		<key>attack</key>
		<integer>6</integer>
		<key>hitPoints</key>
		<integer>7</integer>
		<key>manaCost</key>
		<integer>5</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Speed</string>
		<key>name</key>
		<string>rogue</string>
		<key>attack</key>
		<integer>4</integer>
		<key>hitPoints</key>
		<integer>3</integer>
		<key>manaCost</key>
		<integer>4</integer>
		<key>speed</key>
		<true/>
		<key>block</key>
		<false/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Block</string>
		<key>name</key>
		<string>shroomsprite</string>
		<key>attack</key>
		<integer>1</integer>
		<key>hitPoints</key>
		<integer>3</integer>
		<key>manaCost</key>
		<integer>1</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<true/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Block</string>
		<key>name</key>
		<string>tank</string>
		<key>attack</key>
		<integer>2</integer>
		<key>hitPoints</key>
		<integer>5</integer>
		<key>manaCost</key>
		<integer>3</integer>
		<key>speed</key>
		<false/>
		<key>block</key>
		<true/>
		<key>range</key>
		<false/>
		<key>mobility</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>creature</string>
		<key>effect</key>
		<string>Range, Speed</string>
		<key>name</key>
		<string>volcanohead</string>
		<key>attack</key>
		<integer>3</integer>
		<key>hitPoints</key>
		<integer>3</integer>
		<key>manaCost</key>
		<integer>3</integer>
		<key>speed</key>
		<true/>
		<key>block</key>
		<false/>
		<key>range</key>
		<true/>
		<key>mobility</key>
		<string>0</string>
	</dict>
</array>
</plist>
